<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />

    <title>Mister Juslin!</title>
  </head>
  <body>
    <div class="container m-5 my-10 w-full">
      <div class="row flex justify-content-center">
        <h1><%= title %></h1>
        <% if (locals.flash && locals.flash.error) { %>
        <div class="alert alert-danger" role="alert">
          <%= flash.error %>
        </div>
        <% } %>

        <% if (locals.flash && locals.flash.success) { %>
          <div class="alert alert-success" role="alert">
            <%= flash.success %> 
          </div>
        <% } %>