<form class="row g-3">
  <div class="col-auto">
    <label for="staticEmail2" class="sr-only">Email</label>
    <input
      type="text"
      class="form-control"
      id="staticEmail2"
      value="email@example.com"
    />
  </div>
  <div class="col-auto">
    <label for="inputPassword2" class="sr-only">Password</label>
    <input
      type="password"
      class="form-control"
      id="inputPassword2"
      placeholder="Password"
    />
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
  </div>
</form>
